body {
    background-color: whitesmoke;
    margin-top: 50px;
    margin-right: 100px;
    margin-bottom:50px;
    margin-left: 100px;
      
}
   
section {
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 100px;
    margin-bottom: auto;
}

#logo {
    box-shadow: none;
    position: absolute;
    border-radius: unset;
    max-width: 10%;
    max-height: 10%;
    top:100 px;
    left:50 px;
}

img {
        border-radius: 45%;
        margin-left: auto;
        margin-right: auto;
        width:60%;
        display: block;
        box-shadow: 10px 20px 15px rgb(70, 67, 67);
        opacity:0.8;
        
}
    
    button {
        border-radius: 10px;
        padding: 15px 32px;
        transition-duration: 0.4s;
        width: 30%;
        text-decoration: none;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        font-size: 20px;
        background-color: #1D4E89;
        color: whitesmoke;
        margin-top: 25px;
        
          
    }
    
    button:hover {
        box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    }

    input[type=text] {
        width: 40%;
        padding: 12px 20px;
        margin-top: 80px;
        margin-bottom: 30px;
        margin-left: 300px;
        box-sizing: border-box;
        border: 1px solid #1D4E89;
        border-radius: 4px;
        font-family: sans-serif;
        font-size: 30px;
        text-align: center;
        display: block;
        
      }

      h1 {
        font-family: sans-serif;
        color: #333333;
        font-size: 50px;
      }

      h2 {
        font-family: sans-serif;
        color: #333333;
        font-size: 22px; 
        margin-top: 80px;
      }

      h3 {
          font-family: sans-serif;
          color: #333333;
          font-weight: bolder;
          font-size: 36px;
      }

      .validated {
        font-family: sans-serif;
        color: #008522;
        font-weight: bolder;
        font-size: 20px;
      }
/*margenes*/ 
      .noValidated {
        font-family: sans-serif;
        color: #DA291C;
        font-weight: bolder;
        font-size: 20px;
      }
/*margenes*/

    label {
        font-family: sans-serif;
        color: #333333;
        font-size: 30px;
        

    }

    .box {
        width: 1000px;
        height: 800px; 
        margin: 50px;
        padding: 25px;
        margin-left: auto;
        margin-right: auto;
        margin-top: auto;
        margin-bottom: auto;
        text-align: center;
      
    }
    
    
    #validar_tarjeta {
        display: none;
    }
    
    #tarjeta_valida {
        display: none;
    }
    
    #tarjeta_no_valida {
        display: none;
    }
